*{box-sizing: border-box;}
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, article, aside {display: block;}
html, body {width:100%;height:100%; padding: 0; 
	margin: 0;}
body {font:13px Raleway, Arial, sans-serif;color:#fff;}
a img {border: none;}
ul, li, ol, p {margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal;}
.clearing{ clear: both;}
img {max-width: 100%; display:block;}
h2 {display:none;}
/* General Styles */
.middle-row {
	width: 960px; 
	margin: 0 auto; 
	overflow: hidden; 
	z-index: 100;}
.grid12{width:940px; margin: 0 10px; float: left;} 
.grid11{width:850px; margin: 0 10px; float: left;} 
.grid10{width:780px; margin: 0 10px; float: left;} 
.grid9{width:700px; margin: 0 10px; float: left;} 
.grid8{width:620px; margin: 0 10px; float: left;} 
.grid7{width:540px; margin: 0 10px; float: left;} 
.grid6{width:460px; margin: 0 10px; float: left;} 
.grid5{width:380px; margin: 0 10px; float: left;} 
.grid4{width:300px; margin: 0 10px; float: left;} 
.grid3{width:220px; margin: 0 10px; float: left;} 
.grid2{width:140px; margin: 0 10px; float: left;} 
.grid1{width:60px; margin: 0 10px; float: left;}
/*header {
	left:0;
	position: absolute;
	right: 0;
	}*/
	header {
	background: #2a2d48 url(../images/header-bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;
}
header .for-header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	overflow: hidden;
	margin-bottom: 140px;
}
header a.logo{
	display: block;
	width: 189px;
	height: 24px;
	float: left;
	margin: 35px 0;
	background: url("../images/ActiveBox.png") no-repeat;
}
nav.navigation{
	display: block;
	float: right;
	margin: 35px 0;
}
nav.navigation a {
	display: inline-block;
	margin-right: 30px;
	padding:3px 0;
	text-transform: uppercase;
	color: #fff;
	transition: 0.5s linear;
}
nav.navigation a:last-child{
	margin-right:0;
}
nav.navigation a:hover {
	color: #ff3333;
}
.banner {
	padding-bottom: 155px;
}
.banner h1 {
	font-family: "Open sans",sans-serif;
	font-size: 57px;
	font-weight: bold;
	line-height: 1.09;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.banner p {
	font-size: 22px;
	margin-bottom: 70px;
}
.button{
      margin-top: 30px;
      padding: 15px 40px;
      background-color: #e84545;
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      border: 0;
      border-radius: 2px;
      display: inline-block;
      text-transform: uppercase;
    }
.services {
	padding:120px 0 45px;
	background-color: #fff;
	overflow: hidden;
}
.service {
	text-align: center;
	margin-bottom: 70px;
}
.service i{
	display: block;
	margin:0 auto 30px;
	width: 80px;
	height: 65px;
	background-image: url(../images/icons.png);
}
.service i.i1{
	background-position: 0 0;
}
.service i.i2 {
	background-position: 0 -61px;
}
.service i.i3 {
	background-position: 0 -133px;
}
.service i.i4 {
	background-position: 0 -195px;
}
.service i.i5 {
	background-position: 0 -265px;
}
.service i.i6 {
	background-position: 0 -331px;
}
.service h3 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #333;
}
.service span {
	font-size: 14px;
	color: #666;
}
.our-projects {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}
.project {
	width: 25%;
	position: relative;
	float: left;
	border:1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.project img{
	display:block;
	width:100%;
}
.project .project-name{
	position:absolute; 
	left:0; 
	top:0;
	width:100%;
	height: 100%; 
	display:none;
	text-align: center;
	-webkit-transition: 0.5s linear;
     -moz-transition: 0.5s linear;
     -o-transition: 0.5s linear;
	transition: 0.5s linear;
}
.project .project-name a{
	display:block;
	color:#fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.project .project-name a span{
	display: block;
	text-transform: capitalize;
	font-size: 13px;
	font-weight: normal;
	padding: 5px 0;
}
.project:hover .project-name, .project.active .project-name {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;	
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	background-color: #ff3333;
	filter: alpha(opacity=90);
	background-color:rgba(255, 51, 51, 0.9);
}
.section {
      padding: 100px 0;
      text-align: center;
    }
.download h3 {
      margin-top: 0;
      font-size: 28px;
      color: #2d3033;
      font-weight: 300;
      margin-bottom: 10px;
      font-family: inherit;
      line-height: 1.1;
    }
.download p {
      color: #2d3033;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 22.4px;
      margin: 0 0 10px;
    }
.team {
	padding: 0 0 100px 0;
	text-align: center;
}
.person {
	margin-bottom: 30px;
	text-align: left;
}
.for-person-header {
	background-color: #fff;
	background-image: none;
	text-align: left;
}
.person img {
	margin-bottom: 30px;
}
.person h3 {
	font-size: 18px;
	color: #333;
	margin-bottom: 15px;
}
.person h3 span {
	display:block;
	text-transform: uppercase;
	font-size: 12px;
	color: #ff3333;
	padding: 10px 0;
}
.person p {
	font-size: 14px;
	color:#666;
	margin-bottom: 25px;
}
.person a {
	display: block;
	text-align: right;
	color:#ff3333;
	font-size: 12px;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.for-person-footer {
	background-color: #fff;
	padding: 0;
}
.person ul {
	display: block;
	overflow: hidden;
}
.person ul li {
	display: inline-block;
	margin-right: 5px;
	position: relative;
	width: 40px;
	height: 40px;
	border:1px solid #e8ecee;
}
.person ul li a {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 50%;
	top:50%;
	margin-left: -10px;
	margin-top: -10px;
	background-image: url(../images/icons.png);
}
.person ul li a.person-fb {
	background-position: -123px -22px;
}
.person ul li a.person-tw {
	background-position: -103px -22px;
}
.person ul li a.person-in {
	background-position: -79px -22px;
}
.for-team-footer {
	background-color: #fff;
	padding: 10px 0;
	text-align: left;
	overflow: hidden;
}
.for-team-footer a {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width:100px;
	margin:0 10px 10px 0;
	padding: 5px;
	border: 1px solid #313454;
	color:#313454;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 12px;
	transition: 0.3s linear;
}
.for-team-footer a:last-child {
	margin-right: 0;
}
.for-team-footer a:hover {
	color:#fff;
	background-color: #313454;
}
footer {
	position: relative;
	background-color: #333366;
	padding-top: 65px;
}
footer .location, footer .share, footer .about{
	text-align: center;
	margin-bottom: 20px;
}
address {font-style: normal;}
footer p {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}
footer span {
	font-size: 12px;
	line-height: 1.6;
	color:#d3cfcf;
}
footer ul.soc {
	display: block;
}
footer ul.soc li {
	display: inline-block;
	position:relative;
	width: 40px;
	height: 40px;
	border:2px solid #fff;
	margin-right: 5px;
}
footer ul.soc li a {
	width: 18px;
	height: 30px;
	display: block;
	position:absolute;
	left:50%;
	margin-left:-10px;
	background-image: url(../images/icons.png);
}
footer ul.soc li a.fb {
	background-position: -123px 11px;
}
footer ul.soc li a.tw {
	background-position: -104px 11px;
}
footer ul.soc li a.in {
	background-position: -80px 11px;
}
footer .basement {
	background-color: #313454;
	margin-top: 60px;
	padding: 25px 0;
}
footer .copyright {
	text-align: center;
}
footer .copyright span a {
	display: inline-block;
	padding-left: 20px;
	background: url(../images/icons.png) no-repeat -138px 5px;
	color: #fff;
}
@media (min-width: 750px) and (max-width: 969px) {
.middle-row { width: 720px;}
.grid12{width:700px;} 
.grid11{width:640px;} 
.grid10{width:580px;} 
.grid9{width:520px;} 
.grid8{width:460px;} 
.grid7{width:400px;} 
.grid6{width:340px;} 
.grid5{width:280px;} 
.grid4{width:220px;} 
.grid3{width:160px;} 
.grid2{width:100px;} 
.grid1{width:40px;}
.grid {width:750px;}
}
@media (min-width: 470px) and (max-width: 749px) {
.middle-row { width: 470px;}
.grid12, .grid11, .grid10, .grid9, .grid8, .grid7, .grid6, .grid5, .grid4, .grid3, .grid2, .grid1 {width:440px;} 
.grid {width:440px;}
}
@media (max-width: 469px) {
.middle-row { width: 320px;}
.grid12, .grid11, .grid10, .grid9, .grid8, .grid7, .grid6, .grid5, .grid4, .grid3, .grid2, .grid1 {width:280px; margin-left: auto; margin-right: auto; float: none;} 
.grid {width:280px;}
}